body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color:#4d4d4d;
}
strong,b,.bold,.heavy,.strong, h1, h2, h3, h4, h5 ,h6 {
  font-weight: 700;
}
p, ul{line-height:1.6;}
.cd-top {
  display: inline-block;
/*height: 40px;
  width: 40px;*/
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 10;
  color:white;
  /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);*/
  /* image replacement properties */
  overflow: hidden;
  /*text-indent: 100%;*/
  /*white-space: nowrap;*/
  background: red;
  padding: 1rem;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
opacity: .5;*/
}
/*.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
} */
.container {
  position: relative;
  width: 24px;
  height: 24px;
}
.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  -webkit-transform: scale3d(0.5, 0.5, 0.5);
  transform: scale3d(0.5, 0.5, 0.5);
  -webkit-animation: move 3s ease-out infinite;
  animation: move 3s ease-out infinite;
}
.chevron:first-child {
  -webkit-animation: move 3s ease-out 1s infinite;
  animation: move 3s ease-out 1s infinite;
}
.chevron:nth-child(2) {
  -webkit-animation: move 3s ease-out 2s infinite;
  animation: move 3s ease-out 2s infinite;
}
.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}
.chevron:before {
  left: 0;
  -webkit-transform: skew(0deg, 30deg);
  transform: skew(0deg, 30deg);
}
.chevron:after {
  right: 0;
  width: 50%;
  -webkit-transform: skew(0deg, -30deg);
  transform: skew(0deg, -30deg);
}
.text {
  white-space: nowrap;
}
@-webkit-keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}
@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}
@-webkit-keyframes pulse {
  to {
    opacity: 1;
  }
}
@keyframes pulse {
  to {
    opacity: 1;
  }
}
